@font-face {
    font-family: 'Bebas-neue-bold';
    src: url(fonts/bebas-neue-bold.ttf);
}
@font-face {
    font-family: 'Open-Sans-bold';
    src: url(fonts/opensans.ttf);
}
.container-nav-buttons,
.container-logo-text,
.container-nav-bar{
    display: flex;
    flex-direction: row;
}
.bottom-border{
    border-bottom: 1px solid #E6E6E6;
}
.nav-bar-flex-between{
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
}
.nav-panel-text{
    color: #48555B;
    font-family: Open-Sans-bold;
    font-size: 12px;
    letter-spacing: 1.09091px;
    line-height: 16px;
    text-transform: uppercase;
    padding-left: 5px;
	padding-right: 20px;
}
.text-selected{
    color: #00A4E5;
    font-weight: bold;
}
.logo-text{
    font-family: Bebas-neue-bold;
    font-size: 30px;
}
.logo-text-white{
    color: #FFFFFF;
}
.logo-text-black{
    color: #000000;
}
.title-color{
    color: #DADADA;
}
.top-container{
    align-items: center;
    background-image: url("images/image.png");
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    height: 769px;
    justify-content: space-between;
}
.top-cont-text1{
    color: #FFFFFF;
    font-family:  Bebas-neue-bold;
    font-size: 60px;
    margin-bottom: 0px;
    letter-spacing: 5.70937px;
    line-height: 70px;
    text-align: center;
}
.top-cont-text2{
    color: #FFFFFF;
    font-family:  Open-Sans-bold;
    margin-top: 0px;
    text-align: center;
}
#triangle-left {
    border-top: 11px solid transparent;
	border-right: 10px solid #00A4E5;
	border-bottom: 11px solid transparent;
    margin-top: 35px;
    margin-right: 2.5px;
    margin-left: 1px;
    height: 0;
    width: 0;
}
.scroll-down-text{
    color: #FFFFFF;
    font-family: Open-Sans-bold;
    font-size: 11px;
    margin-bottom: 71px;
    line-height: 15px;
    letter-spacing: 3.7px;
    text-transform: uppercase; 
}
nav{
	list-style: none;
}