@font-face {
    font-family: 'Bebas-neue-bold';
    src: url(fonts/bebas-neue-bold.ttf);
}
@font-face {
    font-family: 'Open-Sans-bold';
    src: url(fonts/opensans.ttf);
}
.container-logo-text{
    display: flex;
    flex-direction: row;
}
.logo-text{
    color: #FFFFFF;
    font-family:  Bebas-neue-bold;
    font-size: 30px;
}
.title-color{
    color: #DADADA;
}
.top-container{
    align-items: center;
    background-image: url("images/image.png");
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    height: 769px;
    justify-content: space-between;
}
.top-cont-text1{
    color: #FFFFFF;
    font-family:  Bebas-neue-bold;
    font-size: 60px;
    margin-bottom: 0px;
    letter-spacing: 5.70937px;
    line-height: 70px;
    text-align: center;
}
.top-cont-text2{
    color: #FFFFFF;
    font-family:  Open-Sans-bold;
    margin-top: 0px;
    text-align: center;
}
#triangle-left {
    border-top: 11px solid transparent;
	border-right: 10px solid #00A4E5;
	border-bottom: 11px solid transparent;
    margin-top: 35px;
    margin-right: 2.5px;
    margin-left: 1px;
    height: 0;
    width: 0;
}
.scroll-down-text{
    color: #FFFFFF;
    font-family: Open-Sans-bold;
    font-size: 11px;
    margin-bottom: 71px;
    line-height: 15px;
    letter-spacing: 3.7px;
    text-transform: uppercase; 
}